<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirm</title>
    <link rel="stylesheet" href="/static/css/confirm.css">
</head>

<body>

    <main>

        <div class="order-head">

            <svg width="80" height="80" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
                <!-- Gradient Background Circle -->
                <defs>
                    <linearGradient id="greenGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                        <stop offset="0%" style="stop-color:#34d399;stop-opacity:1" />
                        <stop offset="100%" style="stop-color:#10b981;stop-opacity:1" />
                    </linearGradient>
                </defs>

                <!-- Circle Background -->
                <circle cx="40" cy="40" r="40" fill="url(#greenGradient)" />

                <!-- Checkmark -->
                <polyline points="24,40 34,50 56,28" stroke="white" stroke-width="3" fill="none" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            <div class="order-htext">

                <h1> Thank you for your order!</h1>
                <p>Your order has been confirmed and will be processed shortly.</p>
            </div>

        </div>

        <div class="order-details">
            <div class="details">
                <p><span>Order Number:</span></p> 
                <span>{{ order_number }}</span>
            </div>

            <div class="details">
               <p> <span>Order Date:</span> </p> 
                <span>{{ order_date }}</span>
            </div>

            <div class="details">
                <p><span>Estimated Delivery:</span></p> 
                <span>{{ average_delivery }}</span>
            </div>
        </div>

        <div class="order-summary">
            <h1>Order Summary</h1>

    {% for item in cart %}
            <div class="summary">
                <span>{{ item.item_title }}</span>
                <span>₹{{ item.item_price }}</span>
            </div>
    {% endfor %}
            <div class="summary">

                <h2><span>Total</span></h2>
                <span>₹{{ total_price }}</span>
            </div>

        </div>

        <a href="{% url 'order' %}">
            <button> Continue Shopping</button>
        </a>



    </main>
</body>

</html>