{% extends 'base.html' %}
{% load static %}

{% block title %}Order Food | IITP Companion{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">

<section class="order">
  <div class="order-head">
    <h1>Order from Campus</h1>
    <p>Fresh meals delivered to your dorm or ready for pickup at your favorite campus spots</p>
  </div>

  <div class="restaurants-cards">

    <!-- Dynamic Canteen Cards -->
    {% for canteen in canteens %}
    <div class="card">
      <a href="{% url 'menu_page' slug=canteen.slug %}">
        <img src="{{ canteen.image.url }}" alt="{{ canteen.name }}">
        <div class="main-card">
          <h2>{{ canteen.name }}</h2>
          <div class="info">
            <div class="meal-info">
              <p>{{ canteen.description }}</p>
              <p class="p-card">Open: {{ canteen.opening_time|time:"g:i A" }} - {{ canteen.closing_time|time:"g:i A" }}</p>
            </div>
            <div class="dilevery-time">
              <p>20 mins</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% empty %}
    <p>No canteens available at the moment.</p>
    {% endfor %}

  </div>
</section>
{% endblock %}
