<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/sign-up.css' %}">
    <link rel="icon" href="{% static '/images/favicon.png' %}">
    <title>Register | IITP Companion</title>
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-logo">
          <a href="{% url 'home' %}">
          <img src="{% static 'images/iitpcomapanion1.png' %}" alt="IITP Logo">
          </a>
            <span class="logo-text">IITP Companion+</span>
        </div>
    </div>

    <!-- Card -->
    <div class="card">
        <h1>Create Account</h1>

        <div class="c-body">
            <form method="POST">
                {% csrf_token %}
                <div class="email">
                    <label for="username">Full name</label>
                    <input name="username" type="text" placeholder="Enter your name">
                </div>

                <div class="email">
                    <label for="email">Email</label>
                    <input name="email" type="email" placeholder="Enter Email address">
                </div>

                <div class="pass">
                    <label for="password">Password</label>
                    <input name="password" type="password" placeholder="Enter Password">
                </div>

                <div class="card-btn">
                    <button>Create Account</button>
                </div>
            </form>

            <div class="sign-up">
                <p><a href="{% url 'login' %}">Already have an account? Log in</a></p>
            </div>
        </div>
    </div>
</body>
</html>
